.App {
  display: column;
  width: 400px;
  height: 500px;
  background-image: url(borderimg.png);
  background-repeat: no-repeat;
  /* background-color: #d80d0d; */
  justify-content: center;
  align-items: center;
  padding: 50px;
  padding-left: 300px;
  margin-left: 300px;
  padding: 150px;
  box-shadow: rgb(167, 160, 160) 10px 10px 0.5px 5px;
}
.heading {
  font-family: Road Rage, cursive;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 70px;
  color: #f70a6d;
}
.list {
  justify-content: space-around;
  align-items: center;
  text-align: center;
  /* background-color: aqua; */
  font-family: Road Rage, cursive;
  font-size: 50px;
  padding: 10px;
  color: red;
}
.buttons {
  /* display: flex; */
  /* flex-direction: column; */
  /* background-color: brown; */
  font-family: Road Rage, cursive;
  font-size: 25px;
  justify-content: space-around;
  align-items: space-around;
  text-align: center;
  padding: 5px;
  margin-left: 80px;
  border: solid 2px #f70a6d;
}
